<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Brands Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{{ url_for('static', filename='js/brands_charts.js') }}"></script>
</head>
<body class="bg-light" style="font-size: 125%;">
    <form action="/" method="POST">
        <div class="input-group mb-3 mx-auto" style="width: 40%; margin-top: 200px">
            <input type="text" class="form-control" placeholder="Type twitter username" name="username"
                   aria-label="Input text" aria-describedby="basic-addon2"/>
        </div>
    </form>
    {% if result %}
        <div class="mx-auto" style="width: 70%;">
            <img src="{{ url_for('static', filename='images/count_distribution.png') }}"/>
            <img src="{{ url_for('static', filename='images/tones_distribution.png') }}"/>
        </div>
    {% endif %}
</body>
</html>